{% extends 'padrao2.html'%}
{% block content %}

    <div class="campo_busca">
        <div class="busca"></div>
    </div>
    <div class="text_categoria">
        <div class="text">Categorias</div>
    </div>

    <div class="categorias">
        <div class="categoria">
            <div class="conteudo"><img src="{{ url_for('static', filename='img/categoria1.png') }}" alt=""></div>
            <div class="conteudo"><img src="{{ url_for('static', filename='img/categoria2.png') }}" alt=""></div>
        </div>
        <div class="categoria">
            <div class="conteudo"><img src="{{ url_for('static', filename='img/categoria3.png') }}" alt=""></div>
            <div class="conteudo"><img src="{{ url_for('static', filename='img/categoria4.png') }}" alt=""></div>
        </div>
    </div>
    
{% endblock %}