{% extends 'padrao2.html'%}
{% block content %}

    <div class="campo_busca">
        <div class="busca"></div>
    </div>
    <div class="text_categoria">
        <div class="text">Categorias</div>
    </div>

    <div class="categorias">
        <div class="categoria">
            <div class="conteudo"></div>
            <div class="conteudo"></div>
        </div>
        <div class="categoria">
            <div class="conteudo"></div>
            <div class="conteudo"></div>
        </div>
    </div>
    
{% endblock %}