{% extends 'padrao2.html'%}
{% block content %}
    <div class="campo_agenda">

        <div class="text_agenda"><p>Minha agenda</p></div>
        <div class="conteudo_agenda">
            <div class="test">
                <div class="subtitle"> testando </div>
                <div class="grid-container">
                <div>1</div>
                <div>x</div>
                
                </div>
                <div class="grid-container">
                <div>1</div>
                <div>x</div>
                
                </div>
                <div class="subtitle"> testando </div>
                <div class="grid-container">
                <div>1</div>
                <div>x</div>
                
                </div>

                <div class="grid-container">
                <div>1</div>
                <div>x</div>
                
                </div>
                
            </div>
    </div>
                        
    </div>

{% endblock %}