{% extends 'padrao2.html'%}
{% block content %}
    <div class="campo_agenda">

        <div class="text_agenda"><p>Minha agenda</p></div>
        <div class="conteudo_agenda">
            <div class="test">
                <div class="subtitle"> Meus Eventos </div>
                <div class="grid-container">
                <div class="text_agenda">Meus eventos</div>
                <div class="excluir">x</div>
                
                </div>
                <div class="grid-container">
                <div class="text_agenda">Meus eventos</div>
                <div class="excluir">x</div>
                
                </div>
                <div class="subtitle"> Eventos Confirmados </div>
                <div class="grid-container">
                <div class="text_agenda">Meus eventos</div>
                <div class="excluir">x</div>
                
                </div>

                <div class="grid-container">
                <div class="text_agenda">Meus eventos</div>
                <div class="excluir">x</div>
                
                </div>
                <div class="grid-container">
                    <div class="text_agenda">Meus eventos</div>
                    <div class="excluir">x</div>
                    
                    </div>
                
            </div>
    </div>
                        
    </div>

{% endblock %}