{% extends 'padrao.html'%}

{% block cabecalho %}
    <div class="cabecalho">
        <div class="logo"><img id="img_logo" src="{{ url_for('static', filename='img/logo.png') }}" alt=""></div>
        <div class="butons_left">

            <a><img src="{{ url_for('static', filename='img/darkM.svg') }}" alt=""></a>
            <a><img src="{{ url_for('static', filename='img/load.svg') }}" alt=""></a>
            <a><img src="{{ url_for('static', filename='img/menu.svg') }}" alt=""></a>

        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="lista_eventos" id="lista_eventos_ajax">
        <p id="carregando">Carregando eventos...</p>
    </div>
    <script>
        xhr_eventos = new XMLHttpRequest();
        xhr_eventos.open("GET", "/lista_eventos");
        xhr_eventos.send(null);
        xhr_eventos.onreadystatechange = function () {
            if (xhr_eventos.readyState === 4 && xhr_eventos.status === 200) {
                document.getElementById("lista_eventos_ajax").innerHTML = xhr_eventos.response;
            }
        }
    </script>
{% endblock %}