{% extends 'padrao.html'%}

{% block cabecalho %}
    <div class="cabecalho">
        <div class="logo"><img id="img_logo" src="{{ url_for('static', filename='img/logo.png') }}" alt=""></div>
        <div class="butons_left">

            <a><img src="{{ url_for('static', filename='img/darkM.svg') }}" alt=""></a>
            <a><img src="{{ url_for('static', filename='img/load.svg') }}" alt=""></a>
            <a><img src="{{ url_for('static', filename='img/menu.svg') }}" alt=""></a>

        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="list_events">
        <div class="eventos">

        </div>
        <div class="eventos">

        </div>
        <div class="eventos">

        </div>
        <div class="eventos">

        
    </div>
{% endblock %}