<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


    <title>yEvents</title>
</head>
<body>
    {% block cabecalho %}
            
    {% endblock %}
    <div class="local">
        <div class="cep">
            <img src="{{ url_for('static', filename='img/cep.svg') }}" alt="">
            <div id="cidade"><a>Valença 27600-000</a></div>
        </div>

        <div class="editar"><img src="{{ url_for('static', filename='img/edit.svg') }}" alt=""></div>

    </div>
    {% block content %}

    {% endblock %}
    
    <footer>
        <div class="butons_menu">

            <a class="icon_menu"><img src="{{ url_for('static', filename='img/home_menu.svg') }}" alt=""></a>
            <a class="icon_menu"><img src="{{ url_for('static', filename='img/pesquisa.svg') }}" alt=""></a>
            <a class="icon_menu"><img src="{{ url_for('static', filename='img/agenda.svg') }}" alt=""></a>
            <a class="icon_menu"><img src="{{ url_for('static', filename='img/user.svg') }}" alt=""></a>

        </div>
    </footer>
</body>
</html>