
@media screen and (max-width:361px) {
    


body{
    background-color: rgb(32, 22, 57);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0%;
}

.botaoadicionar{
    background-color: #B608BF;
    width: 19vw;
    height: 6vh;
    position: fixed;
    bottom: 12vh;
    right: 3vw;
    border-radius: 50vh;
    border: solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15vw;
    font-weight: 900;
    color: #fff;
    text-decoration: none;

}

.cabecalho{
    background-color: #FFE047;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    }

.cabecalho2{
    background-color: #FFE047;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 55px;
}

#img_logo{

    height: 180px;
    width: 170px;
    margin-top: 10px;
    }

.butons_left{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 20vh;
    margin-top: 10px;
    }

.local_area{



}


.local{
    background-color: #FFE047;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    margin-top: 20px;
    border-radius: 10px;
    
    }

.cep{
    display: flex;
    align-items: center;
    }

.editar{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    }
.list_events{
    height: 74vh;
}
.eventos{
    background-color: #C4C4C4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    margin-top: 10px;
    border-radius: 20px;
    border-style: solid;
    border-color: #B608BF;

    }

.campo_busca{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    height: 15vh;
}

.busca{
    width: 80vw;
    height: 5vh;
    border-radius: 5vw;
    background: #C4C4C4;
    border: 1px solid #B608BF;
    box-sizing: border-box;
    backdrop-filter: blur(4px);
    
}

.text_categoria{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
}

.text{
       
    width: 80vw;
    height: 5vh;
    color: #fff;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-variant-caps: small-caps;
    font-family: -webkit-pictograph;
}

.categorias{
    display: flex;
    flex-direction: column;
    height: 48vh;
    justify-content: space-evenly;
}

.categoria{
    display: flex;
    justify-content: space-evenly;
}

.conteudo{
    width: 40vw;
    height: 20vh;
    background: #C4C4C4;
    border: 1px solid #B608BF;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.campo_agenda{
    display: flex;
    flex-direction: column;
    height: 74vh;
}

.text_agenda{
    display: flex;
    justify-content: center;
    color: #ffffff;
    
}

.conteudo_agenda{
    background-color: #C4C4C4;
    display: grid;
    height: 66vh;
    border-radius: 20px;
    border-style: solid;
    border-color: #B608BF;
}

.subtitle{
    margin: 4vh 0 1vw 4vw;
    font-size: 6vw;
}

.grid-container {
    display: grid;
    grid-template-columns: 271px 78px;
    margin-left: 2px;
    grid-gap: 1px;
    background-color: #8821f369;
    padding: 1px;
    justify-content: space-evenly;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 3px 0;
    font-size: 30px;
  }

footer{
    background-color: #FFE047;
    display: flex;
    position: fixed;
    bottom: 0%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    border-radius: 10px;
    }

.butons_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 56vh;
}

.icons_menu{
    background-color: #FFE047;
}

}


@media screen and (max-width:376px) {
    


    body{
        background-color: rgb(32, 22, 57);
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0%;
    }
    
    .cabecalho{
        background-color: #FFE047;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 55px;
        }
    
    #img_logo{
    
        height: 180px;
        width: 170px;
        margin-top: 10px;
        }
    
    .butons_left{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 20vh;
        margin-top: 10px;
        }
    
    .local{
        background-color: #FFE047;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 25px;
        margin-top: 20px;
        border-radius: 10px;
        }
    
    .cep{
        display: flex;
        align-items: center;
        }
    
    .editar{
        display: flex;
        flex-direction: row;
        margin-right: 10px;
        }
    
    .eventos{
        background-color: #C4C4C4;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 90px;
        margin-top: 10px;
        border-radius: 20px;
        border-style: solid;
        border-color: #B608BF;
        }
    
    .footer{
        background-color: #FFE047;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        margin-top: 40px;
        border-radius: 10px;
        }
    }